*{
    margin: 0; 
    box-sizing: border-box;             
       
} 

:root {
    --color-red: #E07B67; 
    --border: 1px solid #252529; 
    --color-dark: #121214; 
    --color-dark2: #17171A;
    --color-dark3: #202024;
    --color-dark4: #252529;
    --color-dark5: #AFABB6; 
    --color-dark6: #FFFFFF;

}
body { 
    background-color: var(--color-dark); 
    color: aliceblue; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh; 
    display: flex; 
    flex-direction: column;   
}  
header {  
    background-color: var(--color-dark2);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 30px;
    padding: 50px;
 } 
.titleCode{ 
    color: var(--color-red); 
 
}  
.wrapperInput { 
    border: 1px solid var(--color-red); 
    border-radius: 20px ; 
    height: 40px; 
    padding: 5px 10px;
    display: flex; 
    align-items: center; 
    gap: 10px; 
    width: 600px; 
    background-color: var(--color-dark4);
} 
.wrapperInput input { 
    background-color: transparent; 
    outline: none; 
    color: var(--color-red); 
    border: none; 
    flex: 1  
}   
.wrapperInfo{  
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
    gap: 40px; 
    margin-top: 40px;
}
.wrapperInfo article{ 
    background-color: var(--color-dark4);  
   display: flex;
   flex-direction: column; 
   justify-content: center;
   border: 1px solid var(--color-red); 
   border-radius: 8px; 
   width: 800px; 
   padding: 10px;
}
.wrapperInfo article h1{   
    padding: 10px;
} 
.wrapperInfo article p{  
    gap: 20px;  
}
.wrapperDate {  
    padding-left: 10PX;
    color: var(--color-red);
    display: flex;
    justify-content: space-between;
    fill: #574ae801;
  stroke: var(--color-red);
  stroke-width: 7;
  transition: fill 0.3s;
  cursor: pointer; 
  align-items: center;
} 
.wrapperDate svg.filled{ 
    fill: #E07B67;
} 
